<div>
  <div class="flex justify-end p-2">
    <button nz-button nzType="primary" class="rounded-sm">
      <a routerLink="add">Novo</a>
    </button>
  </div>
  <nz-table #basicTable [nzData]="list()">
    <thead>
      <tr>
        <th>Setor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
