<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <nz-form-item>
    <nz-form-control [nzSpan]="14" nzErrorTip="Digite um nome para o setor!">
      <nz-form-label [nzSpan]="6" nzFor="setor">Setor</nz-form-label>
      <input nz-input formControlName="setor" name="setor" type="text" id="setor" class="border" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Cadastrar</button>
    </nz-form-control>
  </nz-form-item>

</form>
